.sidebar {
  background: #111;
  text-decoration: none;  
  height: 100vh;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-btn {
  background: #1a1c1f;
  color: #e0e0e0;
  padding: 10px 15px;
  text-decoration: none;  
  border-radius: 6px;
  cursor: pointer;
  /* transition: background 0.2s ease; */
  font-size: 14px;
}

.sidebar-btn:hover {
  background: #2a2d31;
  text-decoration: none;  
  color: #fff;
}
